*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    width: 100%;
    height: 80px;
    background-color: rgb(243 226 164);
    overflow: auto;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 50px;
    float: left;
}

.links li {
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
    font-size: 20px;
}

.links {
    float: right;
    margin: 30px 100px 0px 0px;
    position: relative;
}

.links li a {
    color: black;
    text-decoration: none;
    text-transform: capitalize;
}

.links li a:hover {
    color: rgb(16 145 242);
}

.line {
    width: 50px;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 100%;
    left: 0%;
}

.section1 {
    width: 100%;
    height: 620px;
    /* background-color: black; */
    background-image: url(../image/2.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
}

.hero {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: rgb(243 226 164);
    top: 25%;
    left: 25%;
    text-align: center;
}

.title {
    text-transform: uppercase;
    padding-top: 100px;
}

.text {
    padding: 30px;
}

.btn1 {
    text-transform: capitalize;
    padding: 10px 20px;
}

.btn2 {
    text-transform: capitalize;
    padding: 10px 20px;
}

.btn1:hover {
    background-color: rgb(16 145 242);
    color: white;
}

.btn2:hover {
    background-color: black;
    color: white;
}
